/* Start Global Variables */
:root {
  --dark-color: #19283f;
  --green: #33d1cc;
  --red: #ff3150;
  --yellow: #ffc400;
  --light-grey: #eff7fa;
}
body {
  font-family: "Roboto", sans-serif;
}
.main-btn {
  background-color: var(--red);
  color: var(--yellow);
  transition: color 0.2s, background-color 0.2s;
  -webkit-transition: color 0.2s, background-color 0.2s;
  -moz-transition: color 0.2s, background-color 0.2s;
  -ms-transition: color 0.2s, background-color 0.2s;
  -o-transition: color 0.2s, background-color 0.2s;
}
.main-btn:hover {
  color: var(--yellow);
}
.main-title::after {
  content: "";
  width: 120px;
  height: 2px;
  background-color: var(--green);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.main-title svg {
  color: var(--yellow);
}
/* End Global Variables */
/* Start Navbar */
.navbar {
  background-color: var(--dark-color);
}
.navbar .navbar-nav .nav-link {
  color: #fff;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
  color: var(--green);
}
.navbar .search {
  border-left: 1px solid var(--green);
}
.navbar .search svg {
  color: var(--green);
}
.navbar .navbar-toggler {
  color: #fff;
  font-size: 1.55rem;
  border-color: white;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"] {
  border-color: var(--green);
}
/* End Navbar */
/* Start Landing */
.landing {
  background-color: var(--dark-color);
  min-height: calc(100vh - 72px);
}
/* End Landing */
/* Start Features */
.features .icon-holder {
  height: 200px;
}
.features .icon-holder svg {
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.features .icon-holder .number {
  font-size: 12rem;
  color: var(--light-grey);
}
.features .icon-holder .icon {
  color: var(--green);
}
.features .feat h4 {
  color: var(--yellow);
}
/* End Features */
/* Start Our Work */
.our-work {
  background-color: var(--light-grey);
}
.our-work ul .active {
  background-color: var(--red);
  color: var(--yellow);
}
.our-work ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.our-work ul li:not(.active):hover {
  color: var(--red);
}
.our-work .row .box {
  width: 100%;
  height: 100px;
  padding: 5px;
  overflow: hidden;
}
.our-work .row .box::before {
  content: attr(data-work);
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  position: absolute;
  display: flex;
  background-color: rgba(51 209 204 / 55%);
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  font-size: 1.5rem;
  transform: translateX(-110%);
  -webkit-transform: translateX(-110%);
  -moz-transform: translateX(-110%);
  -ms-transform: translateX(-110%);
  -o-transform: translateX(-110%);
}
.our-work .row .box:hover::before {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}
/* End Our Work */
/* Start Stuff */
.stuff .description {
  max-width: 500px;
}
/* End Stuff */
/* Start Team */
.team {
  background-color: var(--light-grey);
}
.team h2 {
  color: var(--yellow);
}
.team .box h4 {
  background-color: var(--green);
}
/* End Team */
/* Start Techs */
.techs .row svg {
  color: #19283f55;
}
/* End Techs */
/* Start Project */
.project {
  background-color: var(--dark-color);
}
/* End Project */
/* Start Subscribe */
.subscribe {
  background-color: var(--yellow);
}
.subscribe input.subscribe-input {
  border: none;
  border-bottom: 1px solid white;
}
.subscribe input.subscribe-input:focus {
  outline: none;
}
.subscribe ::placeholder {
  color: white;
}
.subscribe .subscribe-submit {
  background-color: var(--dark-color);
  color: var(--yellow);
}
@media (max-width: 771.98px) {
  .mb-lg-down-4 {
    margin-bottom: 1.5rem !important;
  }
}
/* End Subscribe */
/* Start Footer */
footer {
  background-color: var(--dark-color);
}
footer .contact a {
  background-color: var(--red);
}
footer .copyright div span {
  color: var(--yellow);
}
footer .copyright > span {
  color: var(--green);
}
/* End Footer */
